/* Large Tablet Devices */
@media only screen
and (max-width : 1400px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/
  .main_images{margin: 0;}
  /*Bottom Area*/

  /*Footer Area*/
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /* About Us CSS */
  .nh_information::before { width: 85%; }
  .nh_info_box { right: 70px; }
   /* About Us CSS End*/

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}

   .wow {animation-name: none!important; transform: none!important; opacity: 1!important;}
}

@media only screen
and (max-width : 1000px) {
.settins_design{display: none;}
/* About Us CSS */
.nh_info_box { display: none; }
.nh_info { width: 100%; background: var(--secColor); text-align: center; padding: 0 30px;}
.nh_information::before { width: 100%;left: 50%; transform: translateX(-50%); }
.nh_info p { text-align: center; }
.nh_mv { flex-wrap: wrap; }
/* About Us CSS End*/

.hidden {display: none;}
#banner::before { display: none; }


  /*Header Area*/
  .navhead{position:unset;}
  header {padding: 40px 25px;min-height: 300px;}
  .header_con{min-height: 0;padding:0;}

  .main_logo{float: left; position: static; margin-top: 20px;}
  .head_info{float: right; margin: 0; padding: 0; display: block;width: 350px;}
  .header_info{text-align: right; margin: 0; padding: 0; display: block;}
  .social_media{display: block; margin: 15px 0 0; position: static;}



  /*Nav Area*/
  .page_nav ul {   position: static; }
  /* .page_nav {width: 100%; float: none; clear: both; height: auto; transition: none; padding: 25px 15px; margin: 0 auto 0; text-align: center;}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center; position: static;}
  .page_nav ul li{width: 32%; margin:5px 3px !important;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{line-height: 60px; height: auto; border:1px solid var(--secColor); border-radius: 5px; padding: 0;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none; background: var(--secColor);}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%; padding: 0;}
  .page_nav ul ul li{margin: 0 !important}
  .page_nav ul ul a, .page_nav ul li.current_page_item ul li a { border-radius: 0; border: none; line-height: 24px;} */

  /*Banner Area*/
  #container {  min-height: auto;}
  #banner{padding: 0;margin: 0;}
  .text_background{display: none;}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{display:none;}
  .rslides{display: block;}
  
  .slider::before{display: none;}
  .slider img {   width: 700px !important;      margin: 0 auto; max-width: 100%;}

  .bnr_info{position:relative;padding:0;text-align: center;text-align: center; top:unset; left:unset; z-index: 1;}
  .bnr_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .bnr_info a{margin: 0 auto;}
  .bnr_soc { margin: 0 auto; width: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center; }
  .banner_info_container{position: static;padding: 30px;width: 100%;}
  
	/*NON-HOME*/
  .non_ban_img{width: 185%;margin-left: -40%;transform:none;}
  /* .non_ban_img {     width: 103%;     margin-left: 50%;   } */
  .page_title { width: 100%; left: auto; transform: none; }

  .mission_vision{display: block;}
  .mission_vision section { width: 100%; }
  .mission_vision section p { min-height: 0; }
  .vision { margin-top: 20px; }

  .serv_boxes section {width:45%}

  /*Middle Area*/
  #middle{padding: 40px 25px;min-height: auto;}
  .middle_con{min-height:0;padding: 0;}
  .mid_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; /*! padding: 0; */ position: static; float: none; display: block;}
  .mid_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .mid_info a{margin: 0 auto;}
  .middle_boxes{position: static; width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .middle_boxes section{width: 99%; text-align: center; padding: 0;margin: 10px auto;}
  .main_img {display: none;}
  .main_images {display: none;}
  .mid_info h2 { align-items: center; flex-direction: column; justify-content: center; }
  .middle_boxes{margin-top:0; }
  
  /*Main Area*/
  #main_area{padding:40px 25px; margin:0;min-height: auto;}
  .main_con{min-height:0;padding:0;}
  main{float: none; position: static; margin: auto; width:100%;text-align: center;max-width: 100%;}
 .main_design_box { top: -527px !important; width: fit-content; margin: 0 auto 0; width: 54%;}
  .main_design_box.brn_design span { width: 538px; }
 .main_design_box span { width: 56px; } 
  .main_design_box .Box2 {  } 
  .main_design_box .Box3 { width: 13px; right: 19%; bottom: -17px; }
  .main_container{margin-top: 0; margin-bottom: 0px;}
  .intro_txt{width:100%;}
  .main_info .h1_title { justify-content: center; align-items: center; flex-direction: column; }
.main_info .h1_title cite { text-align: center; }

  /*Bottom Area*/
  #bottom1:before{display: none;}
  #bottom1:after{display: none;}
  #bottom1{padding: 40px 25px;min-height: auto;}
  #bottom1 .main_design_box span {   width: 200px; }
  .btm1_con{min-height:0;padding:0;}
  .btm1_info {width: 100%; max-width: 100%; min-height: 0; text-align: center;  position: static; float: none; display: block;}
  .btm1_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm1_info a{margin: 0 auto;}
  .btm1_boxes{position: static; width: 100%; justify-content: center; flex-wrap: wrap; row-gap: 15px;margin-top: 30px;}
  .btm1_boxes section{width: 48%; text-align: center; }
  .btm1_info h2 { justify-content: center; align-items: center; flex-direction: column; }

  #bottom2:before{display: none;}
  #bottom2:after{display: none;}
  #bottom2{padding: 60px 25px;min-height: auto;}
	.btm2_con{min-height:0;padding:0;}
  .btm2_info {width: 100%; max-width: 100%; min-height: 0; text-align: center;  position: static; float: none; display: block;}
  .btm2_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm2_info a{margin: 0 auto;}
  .btm2_boxes{position: static; width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;margin: 0;}
  .btm2_boxes section{width: 100%; text-align: center !important; padding: 40px 20px;flex-direction: column !important;}
  .btm2_boxes section h2{min-height: auto !important;}
  .btm2_box_info{text-align: center !important;padding: 0;}
  .btm2_info h2{flex-direction: column; justify-content: center; align-items: center;}

  #bottom3:before{display: none;}
  #bottom3:after{display: none;}
  #bottom3{padding: 60px 25px;}
  .btm3_con{min-height:0;padding:0;}
  .btm3_info {width: 100%; max-width: 100%; min-height: 0; text-align: center;  position: static; float: none; display: block;}
  .btm3_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm3_info a{margin: 0 auto;}
  .bm3_img {   width: 60%; }
  .btm_form { width: 100%; max-width: 100%;}
  .bmt3_flex { flex-direction: column; row-gap:50px; }
  .btm3_boxes{position: static; width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm3_boxes section{width: 48%; text-align: center; padding: 40px 20px;}
  .btm_input1 {   /*! width: 48%; */}
  .btm_input2 {   /*! width: 49%; */}
  .btm_input3 {   width: 100%;}
  .btm3_info h2{flex-direction: column; justify-content: center; align-items: center;}
  .btm3_info cite{text-align: center;}

  #bottom4:before{display: none;}
  #bottom4:after{display: none;}
  #bottom4{padding: 60px 25px;}
  .btm4_con{min-height:0;padding:0;}
  .btm4_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm4_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm4_info a{margin: 0 auto;}
  .btm4_boxes{position: static; width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm4_boxes section{width: 48%; text-align: center; padding: 40px 20px;}

  #bottom5:before{display: none;}
  #bottom5:after{display: none;}
  #bottom5{padding: 60px 25px;}
  .btm5_con{min-height:0;padding:0;}
  .btm5_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm5_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm5_info a{margin: 0 auto;}
  .btm5_boxes{position: static; width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm5_boxes section{width: 48%; text-align: center; padding: 40px 20px;}

  .btm_formFlex { flex-wrap: wrap; }
  .btn_submit {width: 100%; justify-content: center;}

  #bottom4{padding: 60px 25px;}
	.btm4_con{min-height:0;padding:0;}
  /* .btm4_form form input, .btm4_form textarea { width: 49%; margin-bottom: 15px !important; }
  .btm4_form form textarea { width: 100%; }
  .captcha-box { margin: 0 0 0 auto; }
  .btm4_form form input[type="submit"] { margin: 0 auto 0 15px !important; } */

  /*Footer Area*/
  footer{}
    .footer_top{height:auto;padding: 25px 25px;}
	  .footer_top_con{min-height:0;padding:0; flex-wrap: wrap;}

    .contact_info{width:100%;float:none;text-align:center;margin:0 auto;margin-top: 50px;display: block;}
    .contact_info_heading{width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
    .contact_info_heading p { width: 100%; max-width: 100%; margin: 30px 0; }
    .contact_info_heading a{margin: 0 auto;}
    .contact_info_list{display: flex; margin: 20px 0;align-items: start;justify-content: center;gap: 50px;flex-wrap: wrap;}
    .contact_info_list li{padding:0;display:block; vertical-align:top; margin:0 15px;}
    .contact_info_list li:before{display:block;position:static;margin:0 auto 10px;}

    .footer_logo { width: fit-content; margin: 0 auto; }

	  .footer_btm{height:auto;padding: 25px 25px;}
	  .footer_btm_con{min-height:0;padding:0;}

    .footer_nav ul { text-align: center; }
  	.footer_nav ul li{display: inline-block; vertical-align: top; width: 32%;}
  	.footer_nav ul li a{margin:5px;padding: 15px 10px !important; line-height: initial; border:1px solid var(--priColor); border-radius: 5px;}
	  .footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:var(--priColor);}
  	.footer_nav ul li:after{display:none;}
  	.copyright{float: none;margin: 25px auto 0;text-align: center;}

}

@media only screen
and (max-width : 800px) {

  .about_flex figure { display: none; }
	.about_flex section {width: 100%; max-width: 100%; border-radius: 25px;}
	.about_flex section p { width: 100%; }
	.about_below_flex p { width: 100%; }
	.about_below_flex {  border-radius: 25px; }
  /* Header Area */
  header{min-height: 591px;}
	.main_logo{max-width: 78%; margin: 0;}
	.head_info{display:block;margin:0 auto;text-align:right;padding:0;float:none;width: 100%;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;width: 100%;}

  .header_info ul li {   padding-top: 50px; padding-left: 0;}
  .header_info ul li:before { top: 14px; left: 50%; transform: translateX(-50%); }

	.social_media{text-align: center;}

  /* Nav Area*/
  .page_nav ul { position: absolute; right: 0; top: 282px;} 

  /* #nav_area{padding:25px 15px;background: var(--priColor);position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: var(--priColor);transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px !important;}

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li { width:100%;} */


  /* Toggle Style */
  /* .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;} */
  /* .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;} */

/**Mobile Layout Style**/
  /* .logo_slide_right {float:left;width: calc(100% - 90px); display: none; } 
  .menu_slide_right {display: block;text-align: left;background: transparent;position: relative;  padding: 27px 10px; }
  .hamburger.hamburger--spin-r.is-active .hamburger-inner{width:30px;}
  .hamburger.hamburger--spin-r.is-active .hamburger-inner:before{ width: 30px;}
  .hamburger.hamburger--spin-r.is-active .hamburger-inner::after{width: 30px;}
  .menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner::before, .menu_slide_right .hamburger-inner::after{background:#fff;}
  .menu_slide_right small{display: none;}
  .page_nav ul li a{border: none; padding-left:30px;}
  .page_nav ul{text-align: left; }
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{background:transparent; text-decoration: underline;} */
  /*Banner Area*/
.main_design_box { top: -438px !important; }
  /*Middle Area*/


  /*Main Area*/

  /*Bottom Area*/


  /*Footer Area*/
  .contact_info{}
  .contact_info_list{}
  .contact_info_list li{display:block;margin:15px auto;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  .copyrigh_text { padding-left: 0; }
  .copyrigh_text::before { display: none; }

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}
@media only screen
and (max-width : 700px) {
.main_design_box {     top: -367px !important;   }
}
/* Smartphones */
@media only screen
and (max-width : 600px) {

body {font-size: 16px;}

  .heading2 {  font-size: 35px !important; }
  /*Header Area*/
  header{min-height: auto;}
  .head_info { margin: 0; width: fit-content; }
  .head_info h2 { font-size: 20px; }
  .main_logo_scroll h2 { font-size: 25px; margin-left: 52px; }
  /*Nav Area*/
  .page_nav ul li .nav_icon{display: block;}
  .page_nav ul li:hover .nav_icon{opacity:100%;}
  .page_nav ul li:hover q{display: block; position: absolute;  width: fit-content;right: 0;line-height: 100%;text-align: left;border-radius: 0 30px 30px 0px;top: 50%;transform: translateY(-50%);margin-right: 54px;}
  .page_nav ul li .nav_icon.active{opacity:100%;}
  .page_nav ul li q{display: none;}
  .page_nav ul li {margin-bottom: 15px;}
  .page_nav ul { top: 117px;right: 19px;  position: fixed;} 
  /*Banner Area*/
  .non_ban_img{width: 190%;margin-left: -45%;}
	.slider{display:block;width:100%;margin-left:0;position: static;transform: unset;height: unset;}
  .bnr_img{display: none;}
  .bnr_info h2 span { font-size: 24px; }
  .main_design_box{display: none;}

  /*Middle Area*/
  .middle_boxes{display: block;}
  .middle_boxes section{display: block;  margin: 15px auto;}
  .marquee { margin-left: 0; }
  .marquee--inner { animation: marquee 5s linear infinite; }
  /*Main Area*/
.accord { text-align: left; }
  /*Bottom Area*/
  .btm1_boxes{/*! display: block; */flex-direction: column;justify-content: center;align-items: center;}
  .btm1_boxes section{display: block; width: 100%; margin: 0 !important;}
  .btm1_boxes section::after { width: 49px; height: 87px; left: 0; top: -44px; border-top: 1px solid white; }
  .btm1_boxes section {  }
  .btm2_boxes section{display: block; width: 100%; margin: 15px auto;}
  .btm3_boxes section{display: block; width: 100%; margin: 15px auto;}
  .btm4_boxes section{display: block; width: 100%; margin: 15px auto;}
  .btm5_boxes section{display: block; width: 100%; margin: 15px auto;}
  .btn_submit {   width: 100%;    gap: 20px 150px; }
  .btm_input1 {   width: 100%;}
  .btm_input2 {   width: 100%;}
  .btm_input3 {   width: 100%;}

  /*Footer Area*/
  footer {padding-bottom: 45px;}
  .contact_info_list {     display: block;   }
  .footer_nav ul li{display:block;width:100%;}
  .footer_nav ul li a{margin:5px auto;}
  .contact_info a {   overflow-wrap: break-word;word-wrap: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto;hyphens: auto; }
  .footer_logo { width: 50%; }

  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}
  .serv_boxes section {width:100%;margin:0 auto 20px auto;display:block}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {

  /*Header Area*/
  .heading2 small{  font-size: 25px !important; }
  /*Nav Area*/

  /*Banner Area*/
.banner_info_container { flex-direction: column; align-items: center; }
 .bnr_info { width: 100%; } 
 .btn-5 { margin: 0 auto; }
  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
